nav {
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    width: 98.5%;
    margin: 10px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

button {
    position: relative;
    background-color: grey;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 15px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

form {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 40%;
    
}

label {
    font-size: 20px;
}

input[type=text], input[type=email], input[type=number], input[type=password] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-weight: bold;
}

input[type=submit] {
    position: relative;
    top: 25px;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(60, 60, 255);
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}